{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to PCOS Pal {% endblock %}</h1>


    {% for post in posts %}
    <a href="{{ url_for('post', post_id=post['id']) }}">
        <h2>{{ post['title'] }}</h2>
    </a>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <a href="{{ url_for('edit', id=post['id']) }}">
        <span class="badge badge-warning">Edit</span>
    </a>

    <hr>
{% endfor %}


<!-- {% for p in pcoss %}
<a href="{{ url_for('pcos')}}">
    <h2>{{ p['follicle_r'] }}</h2>
</a>

<hr>
{% endfor %} -->

{% endblock %}